body{
                background-color: rgb(208, 208, 208);
            }
            img{
                width: 95%;
                height:800px;
                border-radius: 500px;
            }

            h1{
                font-size: 150px;
                text-align: center;
                color: white;
            }
            h6{
                font-size: 30px;
                color: white;
                text-align: center;
                color: crimson;
            }
            .Sub{
                transition: all 1s ease;
                background-color: rgb(30, 30, 30);
                width: 350px;
                text-align: center;
                border-radius: 30px;
                color: white;
            }
            .Sub img{
                width: 300px;
                height: 200px;
                border-radius: 20px;
            }
            .Sub button{
                transition: all 1s ease;
                width: 300px;
                height: 50px;
                background-color: dodgerblue;
                color: white;
                font-size: large;
                border-radius: 30px;
            }
            .Main{
                background-color: white;
                display: flex;
                justify-content:space-evenly ;
            }
            .Main:hover .Sub{
                color: black;
                transform: scale(0.8); 
                color: white;
            }
            .Main .Sub:hover{
                transform: scale(1.0);
                background-color: dodgerblue;
                color: white;
            }
            .Main .Sub:hover button{
                background-color: rgb(18, 18, 18);
            }
